* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e9ebee;
  color: #1d2129;
}

.navbar {
  color: #ffffff;
  padding: 10px;
  background: #4167b2;
  font-weight: bold;
  font-size: 30px;
}

.Input, .Post {
  border: 1px solid whitesmoke;
  border-radius: 4px;
  width: 560px;
  margin: 20px auto;
  background-color: white;
}

.Input_header {
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  border-radius: 5px 5px;
  margin: 0;
  padding: 15px;
}

.Input_field {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
}

.Input_field:focus {
  outline: none;
}

.Post {
  padding: 15px;
}

.Post_image{
  width: 100%;
  margin-top: 15px;
}

.Post_delete {
  border: none;
  background: none;
  float: right;
  cursor: pointer; /* cursor hand */
}